@import '../../App';

.prayer-container {
  max-width: 1100px;
  margin: 20px auto;
}

.prayer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.card {
  border: 1px solid $AshColor;
  border-radius: 5px;
  padding: 10px;
  width: 230px;
}

.prayer-table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  td, th {
    border: 1px solid $AshColor;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: $SecondaryTheme;
    color: $AshColor;
  }
}

.create-prayer-container {
  max-width: 1100px;
  margin: 20px auto;
  border: 1px solid $AshColor;
  padding: 20px;
  form {
    width: 100%;
    padding: 20px;
  }
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: none;
  border-bottom: 1px solid $AshColor;
  background-color: transparent;
  &:focus {
    outline: none;
  }
}

.fa-trash, .fa-edit {
  cursor: pointer;
}

.btn-submit {
  background-color: $SecondaryTheme;
  border: 1px solid $AshColor;
  border-radius: 4px;
  padding: 10px 15px;
  color: $AshColor;
  cursor: pointer;
  &:hover {
    color: $MainTheme;
    transition: all 0.2s ease-in-out;
  }
}
