@import '../../App';

.navbar {}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  color: $SecondaryTheme;
  font-weight: 800;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  grid-gap: 20px;
}

.btn-link {
  text-decoration: none;
  color: $SecondaryTheme;
  font-weight: 800;
}
